{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "none",
  "semi": true,
  "singleAttributePerLine": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^/",
    "^@app/(.*)$",
    "^@pages/(.*)$",
    "^@widgets/(.*)$",
    "^@features/(.*)$",
    "^@entities/(.*)$",
    "^@shared/(.*)$",
    "^../",
    "^./",
    "^(?!.*.module.scss$).*.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
