.card {
  background-color: var(--color-gray-100);
  border-radius: 6px;
  height: 120px;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.content {
  padding: 12px;
}

.title {
  color: var(--color-foreground);
}

.subtitle {
  margin-top: 4px;
  color: var(--color-gray);
}

.counterContainer {
  writing-mode: sideways-lr;
  background-color: var(--color-gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
}

.counter {
  color: var(--color-gray);
}

.tags {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--color-gray-200);
  border-radius: 6px;
  padding: 4px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.tag {
  flex-shrink: 0;
}
